<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>{{SITE_NAME}}</h5>
        <p>{{SITE_DESCRIPTION}}</p>
      </div>
      <div class="col-md-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          {{FOOTER_LINKS}}
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contact</h5>
        <p class="text-white-50">
          {{CONTACT_EMAIL}}<br>
          {{CONTACT_PHONE}}
        </p>
        <!-- <h5 class="mt-4">Follow Us</h5> -->
        {{COMPONENT:contactIcons}}
      </div>
    </div>
    
    <hr class="bg-white">
    <div class="text-center">
      <p class="mb-0">&copy; {{YEAR}} {{SITE_NAME}}. All rights reserved.</p>
    </div>
  </div>
</footer>
